/* .main-edit-div {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.edit-profile {
    border-right: 1px solid #dbdbdb;
    flex-basis: 236px;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.edit-profile li {
        border-left: 2px solid transparent;
        display: block;
        font-size: 16px;
        height: 100%;
        line-height: 20px;
        padding: 16px 16px 16px 30px;
        width: calc(100% - 48px);
        list-style: none;
        font-weight: 600;
}

.edit-username {
    flex-direction: row;
    margin: 32px 0 0;
    justify-content: flex-start;
}

 .edit-username h1 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.edit-profile-container {
    width: 100%
}

.edit-form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 16px;
    margin: 0 0 10px;
    padding: 10px 0;
    border: none;
}

.edit-input label {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding-right: 32px;
    text-align: right;
    padding-left: 32px;
    width: 100%;
    margin-left: -550px;
    padding-bottom: 15px;
}

.edit-input {
    flex-direction: row;
    padding-right: 60px;
    display: flex;
    align-items: center;
}

.edit-form input {
    width: 434px;
    height: 32px;
    margin-bottom: 16px;
    float: right;
}

.edit-form .edit-button {
    border: none;
}


.edit-button button {
    outline: 0;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
} */

.edit-form-container {
  margin: 138px 0 270px 0;
  border: 1px solid #DBDBDB;
  width: 700px;
  border-radius: 3px;
}

.edit-pic, .edit-name, .edit-username, .edit-bio, .edit-email {
  margin: 32px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-private {
  margin: 32px 0 -15px 193px;
  color: #999;
  font-size: 14px;
  font-weight: 500;
}

.edit-pic-left {
  margin: 0 32px 0 123px;
}

.edit-name-left {
  margin: 0 32px 0 119px;
}

.edit-username-left {
  margin: 0 32px 0 87px;
}

.edit-bio-left {
  margin: 0 32px 0 137px;
}

.edit-email-left {
  margin: 0 32px 0 122px;
}

.edit-pic-preview {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.current-pic {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.edit-pic-left {
  height: 40px;
  width: 40px;
}

#file-selector {
  width: 0;
  height: 0;
}

.file-input-label {
  text-align: left;
  color: #3897f0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.file-input-label:hover {
  cursor: pointer;
}

.edit-pic h1 {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 2px;
}

#name, #username, #bio, #email {
  border: 1px solid #DBDBDB;
  color: #262626;
  border-radius: 3px;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  width: 356px;
}

.edit-submit {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  padding: 5px 9px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 32px 0 32px 193px;
}

.edit-submit:disabled {
  opacity: 0.3;
  pointer-events: none;
  outline: 0;
}

.edit-unsaved {
  display: none;
}

.edit-saved {
  color: firebrick;
  font-weight: 400;
  margin-left: 14px;
}