.feed-index{
    display: flex;
    flex-direction: column;
    width: 614px !important;
    padding-top: 60px;
}

.feed-container{
    display: flex;
    justify-content: center;
    color: #262626;
}

.post-index-img{
    width: 614px;
    min-height: 614px;
    object-fit: cover;
    display: block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: black;
}

.feed-post {
    position: relative;
    color: #fff;
    margin-bottom: 60px;
    
}

.feed-post:hover, .feed-post:focus{
    outline: 0;
}

.feed-post:active {
    outline: none;
    border: none;
}

.feed-post a{
    text-decoration: none;
    color: #262626;

}

.header-post-bar{
    background: white;
    height: 27px;
    width: 582px;
    padding-left: 0px;
    border: 1px solid #e6e6e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    align-items: center;
    padding: 16px 21px 16px 11px;
}

.likes-and-comments {
    background: white;
    color: black;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    min-height: 220px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}



.post-cap-username{
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.post-feed-username{
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    padding-left: 5px;
}


.canvas{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-prof-pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.post-like-container{
    width: 100%;
}

.post-caption-feed{
    font-size: 14px;
    padding-left: 5px;  
}
.post-caption-span{
    padding-left: 16px;
    margin-top: 8px;
    display: inline-flex;
}

.post-comments-list{
    max-height: 92px;
    overflow: scroll;
}

.feed-comment-list ul{
    list-style-type: none;
    padding: 5px 0px 0px 0px;
    margin: 0;
}

/* .post-feed-like{
    padding-top: 6px;
    height: 30px;
} */

.post-feed-time{
    color: #999;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
}

.post-show-likes {
    margin-left: -50px;
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    font-weight: 600;
}