
.logup-or {
    display: flex;
    width: 4;
    justify-content: space-between;
    color: #999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 200px;
    margin-top: 5%;
    padding-top: 1px;
    padding-right: 47px;
    padding-bottom: 24px;
    padding-left: 47px;
    font-size: 13px;
}

.logup-or div {
  width: 40%;
}

hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-width: none;
  border-color: rgb(243, 241, 241);
  border-style: solid;
  border-width: 1px;
}

.login-outer-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  margin: 30px
}

.fb-form-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dummy-iphone {
  position: relative;
  top: 0;
  left: 0;
}

#phone {
    width: 430px;
    height: 618px;
    position: relative;
    z-index: 3;
}

.form-header {
    margin-bottom: 6px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #999999;
    /* padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    letter-spacing: 0.01em; */
}

.form-footer {
    margin-bottom: 18px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #999999;
    padding-top: 5px;
    text-align: -webkit-center;
    padding-left: 15px;
    padding-right: 15px;
}

::placeholder { 
  color: #999999;
  opacity: 1; 
}

.logup-instagram-logo {
    font-family: Billabong;
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 70px;
    margin-top: 25px;
    padding-bottom: 35px;
}

.signin-form, .dummy-iphone{
    margin-top: 70px;
}

.logup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-align: center;
}


.logup-form input{
    background-color: rgb(230, 227, 220);
    border-top-color: rgb(213, 209, 201);
    border-right-color: rgb(213, 209, 201);
    border-bottom-color: rgb(213, 209, 201);
    border-left-color: rgb(213, 209, 201);
    height: 40px;
    width: 250px;
    margin-bottom: 8px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding-left: 9px;
    box-sizing: border-box;
    font-size: 13px;
}

.logup-form button{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color:#3897f0;
    border-radius: 4px;
    /* color: rgb(234, 231, 225); */
    color: #fafafa;
    border: none;
    padding-bottom: 5px;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 720;
    font-size: 14px;
    height: 40px;
    width: 250px;
    cursor: pointer;
}

.logup-form form{
    border: 1px solid #e6e6e6; 
    background-color: #FFFFFF;
    display: inline-block;
    padding-bottom: 20px;
    width: 348px;
}

.logup-form a {
    color: #3897f0;
    text-decoration: none;
}
html, body{
  height: 100%;
  background: #fafafa;
  margin: 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin-top: 30px;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

div{
  margin: 0;
  padding: 0;
}

body, button, input, textarea{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.app-div {
  height: 100%;
  background: #fafafa;
}

.logup-form-box {
    font-size: 1px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 1px;
    margin-top: 5px;
    border-radius: 2px;
}

.foot-logup-box {
    font-size: 14px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background-color: white;
    width: 348px;
    color: #9999;
}

#signup-button {
    color:#003569;
    font-weight: bolder;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
}

.logup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    border-radius: 0px;
    border: 0px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-align: center;
}

.logup-form form{
    border: 1px solid #e6e6e6; 
    background-color: white;
    display: inline-block;
    padding-bottom: 20px;
    width: 348px;
}

.login-errors {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: #ed4956;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 40px;
  text-align: center;
}

footer {
  font-size: 12px;
  padding-top: 30px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bolder;
}

.nav-div {
    color: #999999;
}

.poser-link a{
    color: #385185;
    font-weight: bolder;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.forgot-pw a{
    font-size: 12px;
    color: #003569;
}

.forgot-pw {
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}








