.main-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0, .0975);
    /* position: fixed; */
    top: 0;
    /* width: 100%; */
    z-index: 1;
    transition: height .2s ease-in-out;
    /* height: 75px; */
    display: flex;
    flex-direction: row;
    height: 77px;
    justify-content: space-between;
    max-width: 100%;
    /* padding: 26px 20px; */
    /* align-items: center; */
    flex-shrink: 0;
    /* margin: 0 auto; */
    position: relative;
    box-sizing: border-box;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 40px;
    flex-basis: 75px;
}

/* .nav-bar-items {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #efefef;
  padding: 14px 9px;
  padding-top: 14px;
  justify-content: center;
  align-items: center;
} */

.nav-bar-logo{
    width: 200px;
    height: 24px;
    /* display: flex; */
    justify-content: space-evenly;
    /* flex: 1 9999 0%;
    min-width: 40px; */
    margin-left: 100px;
}

/* #nav-cam img{
    height: 44px;
    width: 59px;
    justify-content: left;
}*/


.nav-bar-logo a {
    margin: 0;
    width: 0px;
}

.nav-bar-logo img{
    height: 100%;
}

#nav-logo {
    width: 103;
}

.search-bar {
    height: 24px;
    /* flex: 0 1 auto; */
    width: 215px; 
    align-items: stretch;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    text-align: center;
    top: 0;
    z-index: 2;
}

.right {
 /* justify-content: space-evenly; */
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}


.right-nav {
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.explore {
    height: 24px;
    width: 24px;
}

.heart-not button {
    border-style: none;
    border-width: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    width: 24px;
}

.per {
    width: 0%;
    margin-right: 220px;
}
.person {
    height: 27px;
    margin-right: 60px;
}

.heart img{
    height: 24px;
    width: 24px;
}
/* .per a {
    height: 0px;
} */


.heart {
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.heart:hover, .heart:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}