.post-show-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin: 0 auto 16px;
    max-height: 597px;
} 

.post-show-photo-container {
    /* background-color: #fafafa; */
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: auto;
}
    
.psp {
    height: 100%;
    width: auto;
    background-color: #fff;
    border: none;
    /* border: 1px solid #e6e6e6; */
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.post-show-image {
    height: 100%
} 

.post-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #efefef;
    height: 72px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 16px;
    right: 0;
    height: 40px;
}

.post-header button {
    border: none;
    color: none;
    cursor: pointer;
    outline: none;
    font-weight: 600; 
    padding: 0;
}

.header-pic {
    height: 20px;
}

.show-name {
    margin-left: -170px;
    margin-bottom: 5px;
}

.dots img{
    height: 5px;
}

.dots button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-div {
    background-color: #fff;
    /* height: 100%; */
    border: 1px solid #efefef;
    color: #262626;
    font-weight: 600; 
    width: 335px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.cap-pic {
    height: 20px;
}

.cap-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 0;
}

.cap-header h2 {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 0;
}

.caption-div {
    padding-left: 12px;
    font-weight: 400;
}

.show-modal-div {
    height: 100%;
    width: 100%;
}

.show-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    /* z-index: 100; */
    top: 0;
}

.close-button-wrp {
    display: flex;
    justify-content: flex-end;
    margin: 0px 13px 2px 7px;
}

.close-button {
    cursor: pointer;
    color: #fff;
    background: transparent;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    border: none;
}

.close-button a{
    text-decoration: none;
    color: #fff;
}


.delete-modal {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dcm-1 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    top: -740px
}

.butts {
    width: 100%;
}

.edit-butt button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.delete-butt button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: 1px solid #EFEFEF;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    cursor: pointer;
    transition-duration: 0.4s;
}

.cancel-butt button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}


.dcm {
   height: 100%;
   width: 100%;
}

.comment-creator-container {
    border-top: 1px solid #EFEFEF;
    margin-top: 4px;
    min-height: 56px;
    position: absolute;
    bottom: -10px;
    width: 100%;
}

/* .create-comment-wrapper form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
} */

.comment-form {
    padding: 10px
}

.create-comment-wrapper form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.comment-form {
    height: 20px;
    border-top: 1px solid #e6e6e6;
}

.create-post-comment {
    resize: none;
    min-height: 18px;
    color: #262626;
    line-height: 18px;
    width: 330px;
    border: 0;
    max-height: 80px;
    outline: 0;
    padding: 0;
}

form input.create-post-comment::placeholder {
    font-size: 14px;
}

.create-post-comment text {
    font-size: 18px;
}

.hidden-submit {
    min-height: 18px;
    color:  #3897f0;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    outline: none;
}

.hidden-submit:disabled {
    opacity: 0.3;
  pointer-events: none;
  outline: 0;
}


.comment {
    margin-left: -12px;
    margin-right: 0;
    padding-bottom: 12px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.comment-li {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}

.comment-li a {
    display: flex;
    text-decoration: none;
    color: #262626;
}

.comment-li li {
    display: flex;
    flex-direction: row;
}

.comment-pic {
    height: 20px;
}

.comment-username {
    font-weight: 600;
    float: left;
    padding-right: 24px;
    padding-left: 12px;
}

.feed-comment-list ul {
    list-style: none;
    padding: 0;
    padding-left: 16px;
    height: 300px;
}

.edit-caption-input {
    padding-top: 20px;
    display: flex;
    width: 25%;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 8px;
}

.edit-photo-caption {
    height: 75px;
    width: 200px;
    border-radius: 3px 3px 3px 3px;
    background-color: #fff;
    border: solid 1px #e6e6e6;
    margin: 0 auto;
}

.caption-update-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    width: inherit;
    color: #3897f0;
    font-weight: 600;
    justify-content: center;
    margin: 0 auto;
}

/* .delete-comm-butt {
    padding: 0;
} */

.delete-comm-x {
    outline: none;
    background: none;
    border: none;
    padding-top: 3px;
    padding-right: 10px;
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 14px;
    color: gray;
}

.empty-heart {
    display: flex;
    position: relative;
    border: none;
    background: none;
}

.full-heart {
    display: flex;
    /* position: absolute; */
    border: none;
    background: none;
    /* color: red; */
    /* height: 30px; */
}

.likes-comments-time {
    height: 70px;
    width: 100%;
}

.post-show-likes {
    display: flex;
    padding: 15px;
    float: left;
}