.post-show-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin: 0 auto 16px;
    max-height: 597px;
} 

.post-show-photo-container {
    /* background-color: #fafafa; */
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: auto;
}
    
.psp {
    height: 100%;
    width: auto;
    background-color: #fff;
    border: none;
    /* border: 1px solid #e6e6e6; */
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.post-show-image {
    height: 100%
} 

.post-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #efefef;
    height: 72px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 16px;
    right: 0;
    height: 50px;

}

.dots img{
    height: 5px;
}

.dots button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-div {
    background-color: #fff;
    /* height: 100%; */
    border: 1px solid #efefef;
    color: #262626;
    font-weight: 600; 
    width: 335px;

}

.cap-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 0;
}

.cap-header h2 {
    color: #262626;
    font-weight: 600;  
    font-size: 14px;
    margin: 0;
}

.caption-div {
    margin-left: 5px;
    font-weight: 400;
}

.show-modal-div {
    height: 100%;
    width: 100%;
}

.show-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    /* z-index: 100; */
    top: 0;
}

.close-button-wrp {
    display: flex;
    justify-content: flex-end;
    margin: 0px 13px 2px 7px;
}

.close-button {
    cursor: pointer;
    color: #fff;
    background: transparent;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    border: none;
}

.close-button a{
    text-decoration: none;
    color: #fff;
}


.delete-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.dcm-1 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    top: -740px
}

.butts {
    width: 100%;
}

.dcm-1 button {
    width: 400px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    border-bottom: black;
    text-align: center;
    cursor: pointer;
    height: 48px;
    outline: none;
}

.delete-butt {
    border-bottom: none;
}

.dcm {
   height: 100%;
   width: 100%;
}



