.main-profile-div {
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.another-one {
    width: 300px;
    margin-right: 0 auto;
}
.profile-header {
    display: flex;
    margin-bottom: 44px;
    flex-direction: row;
    width: 100%
}

.prof-pic-div {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.prof-pic {
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    margin-right: 30px;
    display: block; 
}

.photo-butt {
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 100%;
    width: 100%;
}

.photo-dum {
    height: 150px;
    left: 0;
    top: 0;
    width: 150px;
}

.info-container {
  
    flex-basis: 30px;
    color: #262626;
    flex-grow: 2;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-section {
    flex-basis: 30px;
    color: #262626;
    flex-shrink: 1;
    flex-grow: 2;
    height: 150px;
}

.name-div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
}

.username {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    font-weight: 300;
}

.edit-link {
    flex-shrink: 0;
    margin-left: 20px;
    display: block;
}

.edit-button a{
    text-decoration: none;
    color:#262626;
}

.edit-button {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    outline: 0;
    background: 0 0;
    user-select: none;
    white-space: nowrap;
    margin-left: 20px;
}


.stats {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.stat {
    margin-left: 0;
    font-size: 16px;
    margin-right: 40px;
}


.name-n-bio {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    float: left;
    
}

.nameo {
    text-align: left;
}

.fullname {
    display: inline;
    font-weight: 600;
}

.user-bio {
    display: block;
    font-size: 16px;
    position: relative;
    float: left;
}

.fob-button {
    border: none;
    background: transparent;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
}

.fob-button img {
    width: 30px;
}

.post-divider {  
  border-top: 1px solid #efefef;
}

.profile-posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 24px;
  padding-right: 0px;
  list-style: none;
  overflow: scroll;
  height: 100%;

}

.posts ul {
    padding: 0px;
    display: flex;
    width: 1000px;
}

.posts {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 24px;
}

.post-li {
    height: 293px;
    width: 293px;
    overflow: hidden;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

.post-li a {
    height: 100%;
}

.profile-posts img {
    height: 100%;
    width: 100%;
}

.post-container {
    flex-grow: 1;
}