@font-face {
  font-family: 'Billabong';
  src: url('billabong.eot'); /* IE9 Compat Modes */
  src: url('billabong.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('billabong.woff2') format('woff2'), /* Super Modern Browsers */
       url('billabong.woff') format('woff'), /* Pretty Modern Browsers */
       url('billabong.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('billabong.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* .or {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #999;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 100px;
  margin-bottom: 2%;
  margin-top: 5%%;
} */

.or {
    display: flex;
    width: 4;
    justify-content: space-between;
    color: #999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 200px;
    margin-top: 5%%;
    padding-top: 10px;
    padding-right: 47px;
    padding-bottom: 15px;
    padding-left: 47px;
}

.or div {
  width: 40%;
}

hr {
width: 100%;
margin-left: auto;
margin-right: auto;
border-width: none;
border-color: rgb(243, 241, 241);
/* display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto; */
border-style: solid;
border-width: 1px;
}

.outer-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.fb-form-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dummy-iphone {
  position: relative;
  top: 0;
  left: 0;
}

#phone {
    width: 430px;
    height: 618px;
    position: relative;
    z-index: 3;
}

.form-header {
    margin-bottom: 6px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #999;
}

.form-footer {
    margin-bottom: 18px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #999;
    padding-top: 5px;
    text-align: -webkit-center;
    padding-left: 15px;
    padding-right: 15px;
}


/* .instagram-logo .brand-name-img {
  background-position: 0 0;
  height: 51px;
  width: 175px;
} */

::placeholder { 
  color: #999;
  opacity: 1; 
}

.instagram-logo {
    font-family: Billabong;
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 70px;
    margin-top: 25px;
}

.signin-form, .dummy-iphone{
    margin-top: 70px;
}

.signup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
}


.signup-form input{
    background-color: rgb(230, 227, 220);
    border-top-color: rgb(213, 209, 201);
    border-right-color: rgb(213, 209, 201);
    border-bottom-color: rgb(213, 209, 201);
    border-left-color: rgb(213, 209, 201);
    height: 37px;
    width: 250px;
    margin-bottom: 8px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding-left: 9px;
    box-sizing: border-box;
    font-size: 13px;
}

.signup-form button{
    font-family: -apple-system,system-ui,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: rgb(28, 137, 238);
    border-radius: 4px;
    /* color: rgb(234, 231, 225); */
    color: #fafafa;
    border: none;
    padding-bottom: 5px;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 720;
    font-size: 14px;
    height: 30px;
    width: 250px;
    cursor: pointer;
}

.signup-form form{
    border: 1px solid #e6e6e6; 
    background-color: white;
    display: inline-block;
    padding-bottom: 20px;
    width: 348px;
}

.signup-form a {
    color: rgb(28, 137, 238);
    text-decoration: none;
}
html, body{
  height: 100%;
  background: #fafafa;
  margin: 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin-top: 30px;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

div{
  margin: 0;
  padding: 0;
}

body, button, input, textarea{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}



.app-div {
  height: 100%;
  background: #fafafa;
}

.form-box {
    font-size: 1px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
}

.foot-login-box {
    font-size: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background-color: white;
    width: 348px;
}

.signup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    border-radius: 0px;
    border: 0px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-align: center;
}

.login-form form{
    border: 1px solid #e6e6e6; 
    background-color: white;
    display: inline-block;
    padding-bottom: 20px;
    width: 348px;
}

.errors li {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: red;
  text-decoration: none;
  list-style-type: none;
}

footer {
  font-size: 12px;
  padding-top: 30px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bolder;
}

.nav-div {
    color: #999;
}





