.upload-div {
    height: 50px;
    width: 100px;
    /* justify-content: center;
    padding: 0 40px;
    text-align: center;
    display: flex;
    align-items: center;
    visibility: hidden;
    position: absolute; */
}

.show {display:block;}

