.openModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    overflow: auto;
    border-radius: 8px;
    outline: none;
    padding: 20px;
    animation: 0.7s linear 0s 1 normal none running postFormModal;
}

.upload-div {
    outline: none;
}

.flag-div {
    position: absolute;
    rotate: 45deg;
}

.show {display:block;}

.upload-form-div{
    padding: 0 40px;
    display: flex;
    min-height: 240px;
    justify-content: center;
    flex-direction: column;

}

.upload-close-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.upload-form {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.upload-button img {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
}

.upload-file-button {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    position: absolute;
    bottom: 159px;
}

.upload-heart {
    height: 60px;
    width: 60px;
    position: relative;
    padding-top: 14px;
}

.upload-logo {
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.inputfile {
    width: 60px;
    height: 74px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    border: none;
}

.post-pic-preview {
    max-height: 100px;
}

.select-file {
    cursor: pointer;
}

.submitButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    width: inherit;
    color:  #3897f0;
    font-weight: 600;
    justify-content: center;
}

.submitButton:disabled {
  opacity: 0.3;
  pointer-events: none;
  outline: 0;
}

.caption-input {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

input.photo-caption::placeholder {
   font-size: 14px;
   bottom: 0px;
}

.photo-caption {
    height: 50px;
    width: 200px;
    border-radius: 3px 3px 3px 3px;
    background-color: #fff;
    border: solid 1px #e6e6e6;
}

